<hr />

<button ng-click="close()" class="btn" style="float: right">X</button>
<form class="form">
	<h1 class="margin-down">
		Gruppe <input type="text" ng-model="group.name"
			placeholder="Neue Gruppe" ng-disabled="group.id == 0" class="input"
			maxlength="50">
	</h1>
	<span class="leftSigns">&uuml;brige Zeichen: {{leftTitle()}}</span> <br>
	<br> <label class="paragraph">Beschreibung der Gruppe</label>
	<textarea type="text" ng-model="group.description"
		placeholder="Hier die Beschreibung der Gruppe einf&uuml;gen."
		ng-disabled="group.id == 0" class="input" maxlength="150"></textarea>
	<br> <span class="leftSigns">&uuml;brige Zeichen:
		{{leftDescription()}}</span> <br> <br>
	<p>
		<button ng-click="save()" ng-hide="group.id == 0"
			class="btn btn-primary">Gruppe speichern</button>
		<button ng-click="remove()" ng-hide="group.id == 0"
			class="btn btn-danger">Gruppe l&ouml;schen</button>
	</p>
	<br>
</form>
<br>
<div ng-hide="todoCount < 1">
	<h2>Todos</h2>
	<div align="center">
		<carousel> <slide
			ng-repeat="todoSlide in todoSlides"
			active="todoSlide.entry1.active">
		<div>
			<div class="todo-container"
				ng-class="{ 'checked': todoSlide.entry1.checked }"
				ui-sref="group.detail.todo({todoId: todoSlide.entry1.id})">
				<h2 class="overflow" title="{{todoSlide.entry1.title}}">{{todoSlide.entry1.title}}</h2>
				<p class="overflow" title="{{todoSlide.entry1.description}}">{{todoSlide.entry1.description}}</p>
			</div>
			<div class="todo-container"
				ng-class="{ 'checked': todoSlide.entry2.checked }"
				ng-hide="displayItems < 2  || todoSlide.entry2.title == undefined"
				ui-sref="group.detail.todo({todoId: todoSlide.entry2.id})">
				<h2 class="overflow" title="{{todoSlide.entry2.title}}">{{todoSlide.entry2.title}}</h2>
				<p class="overflow" title="{{todoSlide.entry2.description}}">{{todoSlide.entry2.description}}</p>
			</div>
			<div class="todo-container"
				ng-class="{ 'checked': todoSlide.entry3.checked }"
				ng-hide="displayItems < 3 || todoSlide.entry3.title == undefined "
				ui-sref="group.detail.todo({todoId: todoSlide.entry3.id})">
				<h2 class="overflow" title="{{todoSlide.entry3.title}}">{{todoSlide.entry3.title}}</h2>
				<p class="overflow" title="{{todoSlide.entry3.description}}">{{todoSlide.entry3.description}}</p>
			</div>
		</div>
		</slide> </carousel>
	</div>
</div>
<button type="button" ng-disabled="showAddTodo" class="btn" ui-sref="group.detail.todo({todoId: -1})">Todo
	hinzuf&uuml;gen</button>
<div ng-hide="todoCount > 0">
	<h3>Es existieren noch keine Todos.</h3>
</div>
<div ui-view id="anchorGroup" align="center" class="TodoDetail"></div>
