<hr />
<br />
<div align="center">
	<carousel> <slide
		ng-repeat="groupCollection in groupSlides" active="slide.active">
	<div>
		<div class="todo-container"
			ui-sref="group.detail({groupId: groupCollection.entry1.id})">
			<h2 class="overflow" title="{{groupCollection.entry1.name}}">{{groupCollection.entry1.name}}</h2>
			<p class="overflow" title="{{groupCollection.entry1.description}}">{{groupCollection.entry1.description}}</p>
		</div>
		<div class="todo-container"
			ng-hide="displayItems < 2  || groupCollection.entry2.name == undefined"
			ui-sref="group.detail({groupId: groupCollection.entry2.id})">
			<h2 class="overflow" title="{{groupCollection.entry2.name}}">{{groupCollection.entry2.name}}</h2>
			<p class="overflow" title="{{groupCollection.entry2.description}}">{{groupCollection.entry2.description}}</p>
		</div>
		<div class="todo-container"
			ng-hide="displayItems < 3 || groupCollection.entry3.name == undefined"
			ui-sref="group.detail({groupId: groupCollection.entry3.id})">
			<h2 class="overflow" title="{{groupCollection.entry3.name}}">{{groupCollection.entry3.name}}</h2>
			<p class="overflow" title="{{groupCollection.entry3.description}}">{{groupCollection.entry3.description}}</p>
		</div>
	</div>
	</slide> </carousel>
	<button ui-sref="group.detail({groupId: -1})" class="btn">Gruppe hinzuf&uuml;gen</button>
	
</div>
<div ui-view align="center" class="GroupDetail"></div>
