
<div class="container" id="headline" align="center">
	<img src="~/../images/Uni_Passau-Logo.png" id="logo" alt="" /> <br>
	<h1>
		Todo-Liste <small>Web Engineering SS 2015</small>
	</h1>
	    <br> 
</div>
<br> 