<hr />
<button ng-click="close()" class="btn" style="float: right">X</button>
<form class="form">
	<h1 class="margin-down">
		<p class="margin-down">
			Todo <input type="text" ng-model="todo.title"
				placeholder="Neues Todo" class="input" maxlength="50">
		</p>
	</h1>
	<span class="leftSigns">&uuml;brige Zeichen: {{leftTitle()}}</span> <br>
	<br>
	<p class="block" class="margin-down">
		<label class="paragraph">Beschreibung des Todo:</label>
		<textarea type="text" ng-model="todo.description"
			placeholder="Hier die Beschreibung des Todo einf&uuml;gen."
			class="input margin-down" maxlength="150"></textarea>
	</p>
	<span class="leftSigns">&uuml;brige Zeichen:
		{{leftDescription()}}</span>
	<p class="block">
		<br /> <label class="paragraph">Erstellungsdatum: </label> <input
			type="text" ng-model="todo.creationDate" ng-disabled="true"
			class="input"></input>
	</p>
	<p class="block">
		<label class="paragraph">Gruppe</label> <select
			data-ng-options="group.name for group in groups"
			data-ng-model="selectedGroup"></select>
	</p>
	<p class="inline">
		<label class="paragraph">Todo erledigt:</label> <input type="checkbox"
			ng-model="todo.checked" id="checkbox"> <br> <br />
		<button ng-click="save()" class="btn btn-primary">Todo
			speichern</button>
		<button ng-click="remove()" class="btn btn-danger">Todo
			l&ouml;schen</button>
	<div id="anchorTodo"></div>
	<br>
</form>

