body {
	background-color: grey;
}

#headline {
	background-color: orange;
	box-shadow: 0 0 22px black;
}

#logo {
	width: 250px;
	height: 67px;
	margin-top: 20px;
}

.display-mode {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.display-mode span {
	display: inline-block;
	height: 1px;
	width: 1px;
}

.todo-container {
	margin-left: 170px;
	width: 300px;
	height: 350px;
	float: left;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("~/../../images/note.png");
	overflow: hidden;	
}

.todo-container:hover {
	opacity: 0.5;
	cursor: pointer;
}

#search {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}

.typeahead {
	margin-left: 20% !important;
	margin-top: -10px !important;
}

.carousel-control:hover {
	cursor: pointer;
}

.GroupDetail {
	padding: 1em;
}

.GroupDetail textarea {
	width: 30%;
	height: 2em;
}

#checkbox {
	width: 40px;
	height: 40px;
}

.input {
	font-size: 16px;
}

.paragraph {
	font-size: 18px;
	font-weight: bold;
}

.form {
	width: 80%;
	text-align: center;
}

.block {
	display: block;
}

#inline {
	display: flex block;
}

.check {
	width: 100px;
	height: 100px;
}

#infoBox {
	display: none;
	position: fixed;
	height: 100px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	z-index: 1;
	border-radius: 20px;
}

#infoBox p {
	font-size: 1.5em;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.success {
	background-color: rgba(65, 219, 61, 0.9);
}
.failure {
    background-color: rgba(255, 34, 34, 0.9);
}

.checked {
	background-image: url("~/../../images/noteChecked.png") !important;
}

.overflow {
	overflow: hidden;
	text-overflow: ellipsis;
}

.leftSigns {
	font-size: 16px;
	margin-top: 0px;
}

.margin-down {
	margin-bottom: -5px;
}

.form input {
	width: 50%;
}

.form textarea {
	width: 70%;
}
